nav{
    background-color: black;
}
#about{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    background-color:mistyrose;
}
.about2{
    color:indianred;
    background-color:lavenderblush;
}
.about3{
    color: rgb(10, 131, 171);
    background-color: lightcyan;
}
.bgimage {
    height:100vh;
    background: url('https://media.istockphoto.com/id/1337668467/vector/modern-rainbow-glow-backlight-frame.jpg?s=612x612&w=0&k=20&c=xbuNlYJsMRHstRLRkJyAW_eDaYLE6sXjQoFFo1tmFSo=');
    background-size:cover;
    position:relative;
}
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(20, 220, 216);
}
.navbarScroll.navbarDark {
    background-color: rgba(0, 0, 0, 0.459);
}
#contact {
    background-color:lightcyan;
    padding-bottom: 4rem;
    /*margin-left: 30%;*/
}
.imageAboutPage {
    width: 100%;
    border-style:groove;
    border-color: crimson;
} 
.skillsText.card {
    height: 280px;
    cursor: pointer;
    background-color: #000000;
  }
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
    color: #fff;
}
.card-text{
    color:#fff;
}
.card-title {
    text-align: center;
    color: #fff;
}
.card:hover .skillsIcon {
    color: #008000;
}
.skills:hover {
    border: 1px solid #008000;
}
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-linkedin:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
#footer {
    background-color: #808080;
    text-align: center;
}
